@import 'config';
@import 'resets';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import 'responsive';

body{
    background: url(../dist/images/background-pattern-desktop.svg) no-repeat;
    background-color: $Light-pink;
    background-size: 100vw;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background: $White;
    font-family: 'Work Sans', sans-serif;
    border-radius: 0.625rem;
    max-width: 80vw;
    padding: 2.7rem 1.25rem;
}

details summary::marker{
    content: "";
}

h1 ,summary{
    display: flex;
    align-items: center;
}
h1{
    font-weight: weight(bold);
    font-size: 3rem;
    margin:1.3rem 1.3rem 2.5rem 1.3rem;
   
}
h1 img{
    padding:0 1.25rem;
}
p{
    font-weight:weight(regular);
    color: $Grayish-purple;
}

details{
    max-width: 540px;
    margin: 2.7rem 2rem;
    border-bottom: 1px solid $Light-pink;

    &:last-child{
        border-bottom: none;
        padding: 0;
        @include transition-ease;
    }
}

summary{
    cursor: pointer;
    font-weight:600;
    font-size: 1.2rem;
    justify-content: space-between;
    color: $Dark-purple;

    &:hover{
        color:#AD28EB;
    }
}